.App {
  text-align: center;
  background-color: aquamarine;
  padding: 20px;
  color: #fff;
 border: 1px solid green;
 text-shadow: 0 0 1px #999,
             1px 1px 1px #888,
             2px 2px 1px #777,
             3px 3px 1px #666,
             4px 4px 1px #555,
             5px 5px 1px #444;
}


